<!DOCTYPE html>
<html data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/template-new :: head}">
    <title>COMAVI</title>
</head>

<body>
    
    <!-- Seccion de ver listado -->
    <section th:fragment="ver">
        <div class="d-flex justify-content-center">
            <div th:if="${facturas != null and !facturas.empty}" style="width: 80rem;">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha</th>
                        <!-- <th scope="col">Acciones</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="factura : ${facturas}">
                        <th scope="row">[[${factura.idFactura}]]</th>
                        <td>[[${factura.getPedido.getDescripcion}]]</td>
                        <td>[[${factura.getPedido.getCliente.getNombre + ' ' + factura.getPedido.getCliente.getApellido}]]</td>
                        <td>[[${factura.total}]]</td>                        
                        <td>[[${factura.fecha}]]</td>
                        <!-- <td> -->
                            <!-- Boton para ver las licencias -->
                            <!-- <a th:href="@{/facturas/eliminar/} + ${factura.idFactura}" class="btn btn-danger">Eliminar</a>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div th:if="${facturas == null or facturas.empty}">
                <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                    No se encontraron facturas registradas :(
                </p>
            </div>
        </div>
    </section>

    <!-- Seccion de filtros de busqueda -->
    <section th:fragment="filtros-busqueda">
        <div class="d-flex justify-content-center mb-4">
            <!-- ID -->
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Búsqueda</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Por ID</h6>
                  <form th:action="@{/clientes/busqueda-id}" method="POST">
                    <div class="mb-3">
                      <input type="text" class="form-control" th:value="${idBusqueda}" name="idBusqueda" id="idBusqueda" placeholder="1..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </form>
                </div>
            </div>
            <!-- Nombre -->
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Búsqueda</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Por Nombre</h6>
                  <form th:action="@{/clientes/busqueda-nombre}" method="POST">
                    <div class="mb-3">
                      <input type="text" class="form-control" th:value="${nombreBusqueda}" name="nombreBusqueda" id="nombreBusqueda" placeholder="John..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </form>
                </div>
            </div>
            <!-- Email -->
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Búsqueda</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Por Email</h6>
                  <form th:action="@{/clientes/busqueda-email}" method="POST">
                    <div class="mb-3">
                      <input type="text" class="form-control" th:value="${emailBusqueda}" name="emailBusqueda" id="emailBusqueda" placeholder="@gmail..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>