<!DOCTYPE html>
<html data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/template-new :: head}">
    <title>COMAVI</title>
</head>

<body>
    <!-- Seccion del Titulo Direccion Cliente -->
    <section th:fragment="titulo-dir-cliente">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Nueva Direccion de Cliente</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, proceda a completar el siguiente formulario con los detalles de la nueva dirección que desea agregar. Podrá modificar sus datos una vez se haya creado con éxito.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="agregar-dir-cliente">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/clientes/dir/add}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idCliente" id="idCliente" th:value="${idCliente}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Crear dirección</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

    <!-- Seccion de ver listado direcciones cliente -->
    <section th:fragment="ver-dir-cliente">
        <div class="d-flex justify-content-center">
            <div th:if="${direcciones != null and !direcciones.empty}" style="width: 80rem;">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="direccion : ${direcciones}">
                        <th scope="row">[[${direccion.idDireccion}]]</th>
                        <td>[[${direccion.detalles}]]</td>
                        <td>[[${direccion.getDistrito().getCanton().getProvincia().getNombre()}]]</td>                        
                        <td>[[${direccion.getDistrito().getCanton().getNombre()}]]</td>
                        <td>[[${direccion.getDistrito().getNombre()}]]</td>
                        <td>
                            <a th:href="@{'/clientes/' + ${idCliente} + '/dir/editar/' + ${direccion.idDireccion}}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{'/clientes/' + ${idCliente} + '/dir/eliminar/' + ${direccion.idDireccion}}" class="btn btn-danger">Eliminar</a>
                            <!-- <a th:href="@{/clientes/editar/} + ${cliente.idCliente}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{/clientes/eliminar/} + ${cliente.idCliente}" class="btn btn-danger">Eliminar</a> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div th:if="${direcciones == null or direcciones.empty}">
                <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                    No se encontraron direcciones registradas :(
                </p>
            </div>

        </div>
        <!-- Boton de agregar -->
        <div class="d-flex justify-content-center">
            <a th:href="@{'/clientes/' + ${idCliente} + '/dir/agregar'}" class="btn btn-primary">Agregar dirección</a>
        </div>
    </section>

    <!-- Seccion del Titulo Actualizar Direccion Cliente -->
    <section th:fragment="titulo-act-dir-cliente">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Editar Direccion de Cliente</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, ingrese los nuevos datos de la dirección. Una vez que haya completado el formulario, haga clic en el botón "Editar" para actualizar la información.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="actualizar-dir-cliente">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/clientes/dir/update}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idCliente" id="idCliente" th:value="${idCliente}" placeholder="" required="">
                        <input type="text" class="form-control" hidden name="idDireccion" id="idDireccion" th:value="${idDireccion}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" th:value="${canton}" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" th:value="${idDistrito}" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" th:value="${detalles}" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Editar</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

    <!-- EMPLEADOS -->
     <!-- Seccion del Titulo Direccion Empleado -->
    <section th:fragment="titulo-dir-empleado">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Nueva Direccion de Empleado</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, proceda a completar el siguiente formulario con los detalles de la nueva dirección que desea agregar. Podrá modificar sus datos una vez se haya creado con éxito.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="agregar-dir-empleado">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/empleados/dir/add}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idEmpleado" id="idEmpleado" th:value="${idEmpleado}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Crear dirección</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

    <!-- Seccion de ver listado direcciones empleado -->
    <section th:fragment="ver-dir-empleado">
        <div class="d-flex justify-content-center">
            <div th:if="${direcciones != null and !direcciones.empty}" style="width: 80rem;">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="direccion : ${direcciones}">
                        <th scope="row">[[${direccion.idDireccion}]]</th>
                        <td>[[${direccion.detalles}]]</td>
                        <td>[[${direccion.getDistrito().getCanton().getProvincia().getNombre()}]]</td>                        
                        <td>[[${direccion.getDistrito().getCanton().getNombre()}]]</td>
                        <td>[[${direccion.getDistrito().getNombre()}]]</td>
                        <td>
                            <a th:href="@{'/empleados/' + ${idEmpleado} + '/dir/editar/' + ${direccion.idDireccion}}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{'/empleados/' + ${idEmpleado} + '/dir/eliminar/' + ${direccion.idDireccion}}" class="btn btn-danger">Eliminar</a>
                            <!-- <a th:href="@{/clientes/editar/} + ${cliente.idCliente}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{/clientes/eliminar/} + ${cliente.idCliente}" class="btn btn-danger">Eliminar</a> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div th:if="${direcciones == null or direcciones.empty}">
                <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                    No se encontraron direcciones registradas :(
                </p>
            </div>

        </div>
        <!-- Boton de agregar -->
        <div class="d-flex justify-content-center">
            <a th:href="@{'/empleados/' + ${idEmpleado} + '/dir/agregar'}" class="btn btn-primary">Agregar dirección</a>
        </div>
    </section>

    <!-- Seccion del Titulo Actualizar Direccion Empleado -->
    <section th:fragment="titulo-act-dir-empleado">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Editar Direccion de Empleado</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, ingrese los nuevos datos de la dirección. Una vez que haya completado el formulario, haga clic en el botón "Editar" para actualizar la información.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="actualizar-dir-empleado">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/empleados/dir/update}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idEmpleado" id="idEmpleado" th:value="${idEmpleado}" placeholder="" required="">
                        <input type="text" class="form-control" hidden name="idDireccion" id="idDireccion" th:value="${idDireccion}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" th:value="${canton}" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" th:value="${idDistrito}" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" th:value="${detalles}" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Editar</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

    <!-- PEDIDOS -->
     <!-- Seccion del Titulo Direccion Pedido -->
     <section th:fragment="titulo-dir-pedido">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Nueva Direccion de Pedido</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, proceda a completar el siguiente formulario con los detalles de la nueva dirección que desea agregar. Podrá modificar sus datos una vez se haya creado con éxito.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="agregar-dir-pedido">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/pedidos/dir/add}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idPedido" id="idPedido" th:value="${idPedido}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Crear dirección</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

    <!-- Seccion de ver listado direcciones pedido -->
    <section th:fragment="ver-dir-pedido">
        <div class="d-flex justify-content-center">
            <div th:if="${direcciones != null and !direcciones.empty}" style="width: 80rem;">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="direccion : ${direcciones}">
                        <th scope="row">[[${direccion.idDireccion}]]</th>
                        <td>[[${direccion.detalles}]]</td>
                        <td>[[${direccion.getDistrito().getCanton().getProvincia().getNombre()}]]</td>                        
                        <td>[[${direccion.getDistrito().getCanton().getNombre()}]]</td>
                        <td>[[${direccion.getDistrito().getNombre()}]]</td>
                        <td>
                            <a th:href="@{'/pedidos/' + ${idPedido} + '/dir/editar/' + ${direccion.idDireccion}}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{'/pedidos/' + ${idPedido} + '/dir/eliminar/' + ${direccion.idDireccion}}" class="btn btn-danger">Eliminar</a>
                            <!-- <a th:href="@{/clientes/editar/} + ${cliente.idCliente}" class="btn btn-secondary">Editar</a>
                            <a th:href="@{/clientes/eliminar/} + ${cliente.idCliente}" class="btn btn-danger">Eliminar</a> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div th:if="${direcciones == null or direcciones.empty}">
                <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                    No se encontraron direcciones registradas :(
                </p>
            </div>

        </div>
        <!-- Boton de agregar -->
        <div class="d-flex justify-content-center">
            <a th:href="@{'/pedidos/' + ${idPedido} + '/dir/agregar'}" class="btn btn-primary">Agregar dirección</a>
        </div>
    </section>

    <!-- Seccion del Titulo Actualizar Direccion Pedido -->
    <section th:fragment="titulo-act-dir-pedido">
        <div class="py-2 text-center">
            <svg class="d-block mx-auto mb-2" width="72px" height="72px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                  <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <h2>Editar Direccion de Pedido</h2>
            <p class="lead text-center" style="margin-left: 8rem; margin-right: 8rem;">
                Por favor, ingrese los nuevos datos de la dirección. Una vez que haya completado el formulario, haga clic en el botón "Editar" para actualizar la información.
            </p>
        </div>
    </section>

    <!-- Seccion de formulario -->
    <section th:fragment="actualizar-dir-pedido">
        <div class="d-flex justify-content-center">
            <div style="max-width: 40rem;">

                <!-- Información de ubicación -->
                <h4 class="mb-3">Información de la dirección</h4>

                    <form th:action="@{/pedidos/dir/update}"
                        method="POST"
                        class="needs-validation" novalidate="">

                        <div class="row g-3">

                        <!-- ID -->
                        <input type="text" class="form-control" hidden name="idPedido" id="idPedido" th:value="${idPedido}" placeholder="" required="">
                        <input type="text" class="form-control" hidden name="idDireccion" id="idDireccion" th:value="${idDireccion}" placeholder="" required="">

                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" required="">
                                <option value="">Seleccione...</option>
                                <option value="1">San José</option>
                                <option value="2">Heredia</option>
                                <option value="3">Cartago</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione una provincia.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canton" class="form-label">Cantón</label>
                            <select class="form-select" id="canton" th:value="${canton}" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un cantón.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select class="form-select" id="idDistrito" th:value="${idDistrito}" name="idDistrito" required="">
                                <option value="">Seleccione...</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un distrito.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Indicaciones</label>
                            <input type="text" class="form-control" id="detalles" th:value="${detalles}" name="detalles" placeholder="Calle El Sol, Av. 12" required="">
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <!-- Google Maps -->
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1964.9863664728093!2d-84.09704356634963!3d9.9362266399501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1721535923648!5m2!1ses!2scr" width="608" height="404" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <!-- Divisor -->
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Editar</button>

                        </div>
                    </form>
            </div>
        </div>
    </section>

</body>

</html>