<!DOCTYPE html>
<html style="background-color: rgb(1, 35, 57);" xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/template-new :: head}">
    <title>COMAVI</title>
</head>

<body class="container py-2 text-light" style="background-color: rgb(27, 72, 97);  font-family: serif;">
    <header th:replace="~{layout/template-new :: header}" />
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center text-light" style="background-color: rgb(78, 102, 213);">
                        <h2>Iniciar Sesión</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" th:action="@{/usuarios/validar}">
                            <div class="row my-3">
                                <label class="col-md-4 my-auto text-center" for="username">Usuario</label>
                                <div class="col-md-8 my-auto">
                                    <input class="form-control" type="text" name="username" id="username" />
                                </div>
                            </div>
                            <div class="row my-3">
                                <label class="col my-auto text-center" for="password">Contraseña</label>
                                <div class="col-md-8 my-auto">
                                    <input class="form-control" type="password" name="password" id="password" />
                                </div>
                            </div>
                            <div class="card-footer col text-center">
                                <button class="btn btn-primary">
                                    <a th:href="@{/registro/nuevo}" class="btn text-light">Registrar</a>
                                </button>
                                <button class="btn btn-success text-light" type="submit">
                                    <span class="btn text-light">Iniciar Sesión</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${param.error != null}">
                    <h3>[[#{error.login}]]</h3>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layout/template-new :: footer}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>